@import "{poetic:materialize-scss}/sass/components/_color.scss";

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
