@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: #34675c;
$secondary-color: #86ac41;

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
ul.side-nav.fixed {
  top: $navbar-height;
}
.user-details .row {
  margin: 0;
  line-height: 25px;
  color: #fff;
  font-weight: bold;
}
ul.side-nav.fixed li.user-details {
  background: url(../images/user-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px 0px 15px 15px;
}
/* accountSettings overrides */
.save-btn {
  @extend .btn;
  @extend .waves-effect;
  @extend .waves-light;
}

.title {
  @extend h4;
}
.setting {
  margin: 15px 0px;
}
.actions {
  margin: 10px 0px;
}

/*
FOOTER
*/
.link-disabled {
  color: grey;
  text-decoration: none;
}

/*
NAV
*/
nav {
  //background-color: black;
}

/*
ATFORM
*/
.at-btn {
  margin-top: 15px;
}

/*
MAP
*/


//#map-container {
//  width: 100%;
//  height: 500px;
//  border: 1px solid black;
//  position: relative;
//}
//
//#map-container.request-pickup:after {
//  width: 22px;
//  height: 40px;
//  display: block;
//  content: ' ';
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  margin: -40px 0 0 -11px;
//  background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
//  background-size: 22px 40px;
//  pointer-events: none;
//}
//
//.controls {
//  margin-top: 10px;
//  border: 1px solid transparent;
//  border-radius: 2px 0 0 2px;
//  box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  height: 32px;
//  outline: none;
//  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
//}
//
//.pac-input {
//  background-color: #fff;
//  font-family: Roboto;
//  font-size: 15px;
//  font-weight: 300;
//  margin-left: 12px;
//  padding: 0 11px 0 13px;
//  text-overflow: ellipsis;
//  width: 300px;
//}
//
//.map-button {
//  background-color: #fff;
//  font-family: Roboto;
//  font-size: 11px;
//  font-weight: 300;
//  margin-left: 12px;
//  padding: 0 11px 0 13px;
//  text-overflow: ellipsis;
//  width: 90px;
//}
//
//.pac-input:focus {
//  border-color: #4d90fe;
//}
//
//.pac-container {
//  font-family: Roboto;
//}
#map-container {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  position: relative;
}

#map-container.marker-overlay::after {
  width: 22px;
  height: 40px;
  display: block;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -11px;
  background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
  background-size: 22px 40px;
  pointer-events: none;
}

/*
TEXT
*/

.text-danger {
  color: #a94442;
}

/*
GENERIC
*/

.extra-padding-bottom-15 {
  padding-bottom: 15px;
}
.extra-padding-left-15 {
  padding-left: 15px;
}
.extra-margin-all-10 {
  margin: 10px;
}
.border-bottom-thin {
  border-bottom: 1px solid black;
}

.override-padding-left-0 {
  padding-left: 0px !important;
}

#map-london-container {
  //width: 100%;
  //height: 100%px;
  //border: 1px solid black;
  //position: relative;
  position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
}

#pop{
  height: 280px;
  width: 470px;
  position: fixed;
  top: 10%;
  right: 0%;
  padding:10px;
  background-color: transparent;
}