html {
    position: relative; /* Sticky footer stuff */
    min-height: 100%; /* Sticky footer stuff */
}

body {
    padding-top: 50px;
    font-weight: bold;
    margin-bottom: 30px; /* Footer height */
}