.btn-f35b68 {
    color: #fff;
    background-color: #f35b68;
    border-color: #c24853;
}
.btn-f35b68:focus,
.btn-f35b68.focus {
    color: #fff;
    background-color: #c24853;
    border-color: #91363e;
}
.btn-f35b68:hover {
    color: #fff;
    background-color: #c24853;
    border-color: #91363e;
}
.btn-f35b68:active,
.btn-f35b68.active {
    color: #fff;
    background-color: #91363e;
    border-color: #612429;
}
.btn-f35b68:focus:active {
    color: #fff;
    background-color: #612429;
    border-color: #301214;
}