.nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-nav > li {
    padding-left:10px;
    padding-right:10px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:hover {
    color: #000;
}

#mainNav {
    background-color: rgba(255, 255, 255, 1); /* Transparency setting */
}
#at-nav-button {
    margin: 0px;
}