<template name='OnlyDriver'>
  {{#if authInProcess}}
    <div class="text-center">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <h1>Logging in, please wait...</h1>
    </div>
  {{else}}
    {{#if canShow}}
      {{> Template.contentBlock}}
    {{else}}
      <div class="center-align">
        <h1 class="text-danger"><i class="fa fa-lock fa-fw"></i> Sorry, you cannot access this page.</h1>
        <hr>
        <h3>Please sign in with a driver account to proceed.</h3>
      </div>
    {{/if}}
  {{/if}}
</template>