<template name="Sidebar">
    <ul class="side-nav fixed leftside-navigation z-depth-3">
        <li class="user-details teal lighten-1">
            <div class="row valign-wrapper">
                <div class="col s4">

                    <img src="{{getPhotoId imageId}}" alt="PROFILE" class="circle responsive-img
          valign profile-image">

                </div>
                <div class="col s8">
                    <p>Welcome back, {{fullName}}</p>
                </div>
            </div>
        </li>
        {{#each groupRoutes}}
            <li><a href="{{path}}">{{name}}</a></li>
        {{/each}}
    </ul>
</template>
