<template name="Transaction">
  <ul class="collection">
    <li class="collection-item">
      Price: £{{formatPrice finalOffer}}
    </li>
    <li class="collection-item">
      Date: {{formatDate dateConfirmed}}
    </li>
    <li class="collection-item">
      Location: {{formatLocation finalOffer}}
    </li>
  </ul>
</template>

<template name="TransactionDetails">
  <ul class="collection">
    <li class="collection-item">
      Provider: <a href="/users/{{getUsernameFromID driverId}}"><span class="green-text text-darken-2">{{getUsernameFromID driverId}}</span></a>
    </li>
    <li class="collection-item">
      Client: <a href="/users/{{getUsernameFromID consumerId}}"><span class="green-text text-darken-2">{{getUsernameFromID consumerId}}</span></a>
    </li>
  </ul>
</template>

